* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

/* This changes all the animations globally */
body {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.5em;
  margin-bottom: 0.83em;
  margin-top: 0.83em; }

h3 {
  font-size: 16px; }

section {
  width: 100%;
  padding: 50px 100px; }
  section ul {
    padding-left: 20px; }

p {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5; }

table {
  border-collapse: collapse;
  margin: 0 auto; }

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 10px 15px; }

.banner__img {
  max-width: 100%;
  max-height: 500px; }

#form h2 {
  color: #0371a2; }

form {
  width: 500px;
  color: #0371a2;
  max-width: 100%;
  margin: 0 auto; }
  form input:not([type=radio]), form select, form textarea {
    width: 95%;
    color: #0371a2;
    padding: 5px 10px;
    min-height: 48px;
    font-size: 16px; }
  form select {
    width: 95%; }

.form__button {
  margin-top: 10px;
  background: black;
  color: white !important;
  font-weight: 500;
  border: none;
  padding: 5px 10px; }

#staff .dentista img {
  width: 90px; }

.banner {
  height: 85vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  color: white;
  position: relative; }

.banner__cta {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 50px; }

.banner-home {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../img/inicio.jpg) center center no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-servicios {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../img/servicios.jpg) center center no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-nosotros {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../img/nosotros.jpg) center center no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-covid {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../img/covid.jpg) center center no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-contacto {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../img/contacto.jpg) center center no-repeat;
  background-position: center center;
  background-size: cover; }

.protocol img {
  max-width: 100%; }

p.counter__number {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px; }

.counter__container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 610px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.counter__counter {
  flex: 1; }

section, footer {
  text-align: center; }

#banner {
  text-align: left; }

#staff {
  color: #0371a2; }

#staff h2 {
  color: #04587c; }

.staff__member {
  display: inline-block;
  width: 30%;
  color: black; }
  .staff__member img {
    width: 120px; }

#que-ofrecemos {
  background: #04587c;
  color: white; }

#testimonios {
  background: #f5f5f5; }

.protocol {
  display: grid;
  grid-template-areas: "area1 area1" "area2 area3";
  grid-template-columns: 60% 40%; }

.protocol__title {
  grid-area: area1; }

.protocol__column-area2 {
  grid-area: area2; }

.protocol__column-area3 {
  grid-area: area3; }

ul.protocol__list li {
  line-height: 1.55;
  margin-bottom: 10px;
  text-align: left; }

#carousel {
  width: 610px;
  margin: 25px auto; }

@media screen and (max-width: 768px) {
  section {
    padding: 25px 20px; }
  .protocol {
    display: grid;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3"; }
  .staff__member {
    display: block !important;
    width: auto !important; } }

/***slider**/
#demo {
  background: linear-gradient(112deg, #ffffff 50%, #d2f2fd 50%);
  max-width: 900px;
  margin: auto; }

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem; }

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem; } }

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem; }

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem; } }

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem; }

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem; } }

.carousel-control-prev, .carousel-control-next {
  background-color: #0d496a;
  padding: 15px;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px); }

.carousel-control-prev {
  transform: rotate(90deg) translateY(-50%);
  left: 0;
  right: auto; }

.carousel-control-next {
  transform: rotate(-90deg) translateY(-50%);
  right: 0;
  left: auto; }

@media (max-width: 767px) {
  i {
    padding: 0.8rem; } }

.carousel-control-prev {
  justify-content: flex-start; }

.carousel-control-next {
  justify-content: flex-end; }

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset; }

/***table***/
.table__head--left {
  border-left: none;
  border-top: none; }

.table__head--right {
  border-right: none;
  border-top: none; }

.table__service {
  border-left: none; }

.table__description {
  border-right: none; }

.table__service--last, .table__description--last {
  border-bottom: none; }

header {
  padding: 10px 50px; }
  header img {
    width: 140px;
    vertical-align: middle; }
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%; }
    header ul li.active::after {
      content: '';
      position: absolute;
      z-index: 1;
      height: 3px;
      left: 0;
      right: 0;
      bottom: -7px;
      background: #f1c72f; }
    header ul li {
      position: relative; }
    header ul li a {
      text-decoration: none;
      color: #0371a2 !important;
      font-weight: 500; }

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

nav {
  width: 100%;
  justify-content: space-between !important; }

div#navbarNavDropdown {
  flex-grow: 0; }

@media screen and (min-width: 769px) {
  header ul {
    width: 410px; } }

@media screen and (max-width: 768px) {
  header {
    padding: 10px 20px; }
  .header__nav {
    width: 100%; }
  header ul li.active::after {
    display: none !important; } }

footer {
  background: #0371a2;
  color: White;
  padding: 5px; }
  footer p {
    margin: 0; }
