
header{
    padding:10px 50px;
    img{
        width:140px;
        vertical-align: middle;
    }
    ul{
        list-style: none;
        display:flex;
        align-items:center;
        justify-content: space-between;
        flex-wrap:wrap;
        max-width: 100%;
        li.active::after {
            content: '';
            position: absolute;
            z-index: 1;
            height: 3px;
            left: 0;
            right: 0;
            bottom: -7px;
            background: #f1c72f;
        }
        li{
            position:relative;
        }
        li a{
            text-decoration: none;
            color: #0371a2 !important;
            font-weight: 500;
        }
    }
}
.header__container{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 
nav {
    width: 100%;
    justify-content: space-between !important;
}
div#navbarNavDropdown {
    flex-grow: 0;
}
@media screen and (min-width:769px){    
    header ul{
        width:410px;
    }
}
@media screen and (max-width:768px){   
    header {
        padding: 10px 20px;
    }.header__nav{
        width:100%;
    }header ul li.active::after{
        display:none !important;
    }
}